/* -------------------------- LAYOUT -------------------------- */

/* Add width restriction to main layout */
.main-layout {
    color: var(--text-color);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1.25rem !important;

    min-width: var(--article-min-width);
    max-width: var(--article-max-width);
    row-gap: var(--gap-6);
}
.main-layout > *:not(:last-child) {
    padding-left: var(--gap-4);
    padding-right: var(--gap-4);
}

.main-header {
    display: grid;
    margin-top: 8em;
}
.main-header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-grey);
}
.info-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: grid;
    place-items: center;
}

@media screen and (max-width: 576px) {
    .main-layout {
        font-weight: 300 !important;
        font-size: 1rem !important;
    }
    .info-panel {
        flex-direction: column;
        row-gap: var(--gap-3);
        align-items: start;
    }
    #article-tool {
        flex-direction: row-reverse;
    }
    .text-bold {
        font-weight: 500 !important;
    }
}
/* TODO: Fix social media button display problems */
#article-tool .btn-outline {
    --height: 1.5em;
    --padding: 0.65em;
    font-weight: 400;
    font-size: calc(0.5 * var(--height));
    padding-left: var(--padding);
    padding-right: var(--padding);
    column-gap: calc(0.5 * var(--padding));
}
#article-tool .btn-outline svg {
    height: var(--height);
}
#article-tool a img {
    height: 100%;
    width: auto;
}

/* -------------------------- STRUCT -------------------------- */

/* Article Info bar */
.article-info {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.author-img {
    --img-radius: 2.5rem;
    --width: 2px;

    height: var(--img-radius);
    border-radius: var(--img-radius);
    outline-offset: calc(1.5 * var(--width));
    outline: var(--color-grey) var(--width) solid;
}
.author-img img {
    height: inherit;
    border-radius: var(--img-radius);
}

.author {
    display: grid;
    place-items: left;
    place-content: center;
    row-gap: var(--gap-1);

    font-weight: 400;
    font-size: 1rem;
}

/* Main Article */
.main-article {
    display: grid;
    row-gap: var(--gap-6);

    text-align: justify;
    line-height: var(--article-line-height);
}
.main-article iframe {
    width: 100%;
    height: auto;
}
.main-article img:not(.emoji) {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    background: var(--bg-color);
}
.main-article > *:not(:last-child):after {
    content: '．．．';
    display: flex;
    place-content: center;
    margin-top: var(--gap-6);
}
.main-article > * {
    width: 100%;
}

/* -------------------------- STYLES -------------------------- */

/* Text */
.heading {
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.8em;
    line-height: 1.2em;
}
.subheading {
    color: var(--color-grey);
    font-weight: 400;
    font-size: 1.2em;
}

.title {
    font-weight: 700;
    font-size: 1.2em;
}

.title-sp {
    display: flex;
    position: relative;
    place-items: center;

    font-size: 1em;
    line-height: var(--article-line-height);
}
.title-sp::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    left: -1em;
    background-color: var(--text-color);
}

.title-sm {
    font-weight: 400;
    font-size: 0.8em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p, quote, blockquote {
    font-size: 1em !important;
}
br {
    content: '';
    display: block;
    margin-top: 1.5em !important;
}
.quote {
    display: block;
    font-family: 'Noto Serif', 'Noto Serif TC', serif;
    text-align: center;
}
.blockquote {
    display: grid;
    grid-template-columns: 3em 1fr;
    position: relative;
    justify-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    background-color: rgb(255, 137, 102, 0.15);
    border-radius: 0.2em;
}
.blockquote :is(:first-child) {
    background: none;
    align-self: top;
}

.text-bold {
    font-weight: 700;
}