/* -------------------------- LAYOUT -------------------------- */

* {
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
}

/* Color theme */
:root {
    --color-cream: #FBFBEB;
    --color-black: #323232;
    --color-milky-deep-blue: #343541;
}

:root,
    /* Default dark, therefore this should place first */
    html[data-user-theme='dark'] {
        --g1-color: #1D26714C;
        --g2-color: #C337634C;
        --bg-color: var(--color-milky-deep-blue);
        --text-color: var(--color-cream);
        --sel-text-color: var(--color-milky-deep-blue);
        --sel-bg-color: var(--color-cream);
        --navbar-color: var(--color-milky-deep-blue);
        --footer-color: #202123;
        --shadow-color: #1111118C;
        --thumb-color: #D8D5D0;
        --thumb-hover-color: #EAE7E1;
    }
    
    html[data-user-theme='light'] {
        --g1-color: #FBF4E47C;
        --g2-color: #BB909E7C;
        --bg-color: var(--color-cream);
        --text-color: var(--color-black);
        --sel-text-color: var(--color-cream);
        --sel-bg-color: var(--color-black);
        --navbar-color: var(--color-cream);
        --footer-color: #202123;
        --shadow-color: var(--color-black);
        --thumb-color: #FFFFFF;
        --thumb-hover-color: #FFFFFF;
    }

body {
    overflow-x: hidden;
    overflow-y: overlay;
    background-color: var(--bg-color);
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: 
        auto
        1fr
        auto;
}

.primary-header {
    display: grid;
    overflow: hidden;
    place-items: center;
    place-content: center;
    grid-template-areas: "stack";
    background: var(--bg-color);
    background-size: cover;
}

.primary-header > * {
    grid-area: stack; 
}

.menu {
    display: flex;
}

footer {
    display: grid;
    background-color: var(--footer-color);
}

/* -------------------------- STYLES -------------------------- */

/* Pre-loader */
.preloader {
    position: fixed;
    inset: 0;
    z-index: 10000;

    display: grid;
    background: var(--color-cream) url(../load.gif) no-repeat center center;
    background-size: 256px;

    transition: opacity 0.5s, visibility 1s;
    transition-timing-function: ease-in-out;
}

.fade {
    opacity: 0;
    visibility: hidden;
}

/* Navigation Bar */
.navbar-brand img {
    width: auto;
    height: 1.75rem;
}

.btn-toggle {
    color: var(--text-color);
    /* font-size: 1.5rem !important; */

    border: none !important;
    align-items: center;
}
.btn-toggle:hover, .btn-toggle:focus, .btn-toggle:active {
    color: var(--text-color) !important;

    text-decoration: none !important;
    border: none !important;
}


/* Text */
.headings {
    z-index: 1;
    pointer-events: none;
}

.heading {
    color: var(--text-color);
    font-family: 'Unbounded';
    font-weight: 700;
    font-size: 4rem;

    letter-spacing: 0.1rem;
    line-height: 1.2em;
}

.subheading {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;

    letter-spacing: 0.1rem;
}

.title {
    color: var(--text-color);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-decoration-line: underline;
    text-underline-offset: 10px;

    text-align: center;
    line-height: 2em;
}

.blockquote {
    display: block;
    text-align: center;

    color: var(--text-color);
    font-style: italic;
    font-size: 1.5rem;
}

p {
    color: var(--text-color);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    text-align: justify;
    line-height: 2rem;
}
br {
    display: block;
    content: "";
    margin-top: 1.2rem;
}

.footer-item {
    color: var(--color-cream);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    text-align: center;
}

/* Hover-show-image */
.hover-img a {
    position: relative;

    color: var(--text-color) !important;
    text-decoration-line: underline;
    text-underline-offset: 0.4em;
    
}
.hover-img a span {
    display: none;
    position: absolute;
}
.hover-img a:hover span{
    display: block;
    overflow: hidden;
    bottom: 150%;
    left: 0;
}
.hover-img img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .heading {
        font-size: 3rem;
    }
    .subheading {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 2.5rem;
    }
    .subheading {
        font-size: 1rem;
    }
    .title {
        font-size: 2rem;
    }
}

/* -------------------------- OTHERS -------------------------- */

/* Twemoji style */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

/* Shadows */
.drop-shadow {
    -webkit-box-shadow: 0rem 0rem 1rem -0.5rem var(--shadow-color);
    box-shadow: 0rem 0rem 1rem -0.5rem var(--shadow-color);
}

.text-shadow {
    text-shadow: 0.1em 0.1em 0.3em var(--bg-color);
}

/* Disable transition */
.transition-none {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

.unscrollable {
    overflow-y: hidden;
}

/* Selection */
::selection {
    color: var(--sel-text-color);
    background: var(--sel-bg-color);
}