/* -------------------------- LAYOUT -------------------------- */

html {
    font-size: 18px;
    --shadow-color: #1111118C;
}

* {
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
}

/* Color theme */
:root,
    /* Default dark, therefore this should place first */
    html[data-user-theme='dark'] {
        --g1-color: #1D26714C;
        --g2-color: #C337634C;
        --bg-color: #222222;
        --text-color: #EEEEEE;
        --sel-text-color: #292E33;
        --sel-bg-color: #D8D5D0;
        --navbar-color: #292E33;
        --footer-color: #292E33;
        --thumb-color: #D8D5D0;
        --thumb-hover-color: #EAE7E1;
    }
    
    html[data-user-theme='light'] {
        --g1-color: #9498c49c;
        --g2-color: #bb909e9c;
        --bg-color: #EEEEEE;
        --text-color: #222222;
        --sel-text-color: #D8D5D0;
        --sel-bg-color: #292E33;
        --navbar-color: #EEEEEE;
        --footer-color: #292E33;
        --thumb-color: #FFFFFF;
        --thumb-hover-color: #FFFFFF;
    }

body {
    overflow: overlay;
    background-color: var(--bg-color);
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: 
        auto
        1fr
        auto;
}

.primary-header {
    display: grid;
    overflow: hidden;
    place-items: center;
    place-content: center;
    grid-template-areas: "stack";
    background: var(--bg-color);
    background-size: cover;
}

.primary-header > * {
    grid-area: stack;
}

.menu {
    display: flex;
}

footer {
    display: grid;
    background-color: var(--footer-color);
}

/* -------------------------- STYLES -------------------------- */

/* Pre-loader */
.preloader {
    position: fixed;
    inset: 0;
    z-index: 10000;

    display: grid;
    place-items: center;
    background: #EAE7E1 url(../load.gif) no-repeat center center;
    background-size: 25%;

    transition: opacity 0.5s, visibility 1s;
    transition-timing-function: ease-in-out;
}

.fade {
    opacity: 0;
    visibility: hidden;
}

/* Navigation Bar */
.navbar {
    background-color: transparent;
    /* background-color: var(--navbar-color) !important; */
}

.navbar-brand img {
    width: auto;
    height: 1.5rem;
}

.btn-toggle,
    .btn-toggle {
        color: var(--text-color);
        /* font-size: 1.5rem !important; */

        border: none !important;
        align-items: center;
    }
    .btn-toggle:hover, .btn-toggle:focus, .btn-toggle:active {
        color: var(--text-color) !important;

        text-decoration: none !important;
        border: none !important;
    }


/* Text */
.headings {
    z-index: 1;
    pointer-events: none;
}

.heading {
    color: var(--text-color);
    font-family: 'Unbounded';
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 0.1em 0.1em 0.3em var(--bg-color);

    line-height: 1.2em;
}

.subheading {
    color: var(--text-color);
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 1.2rem;
    text-shadow: 0.1em 0.1em 0.3em var(--bg-color);
}

.title {
    color: var(--text-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: 2rem;

    text-align: left;
    line-height: 2em;
}

p {
    color: var(--text-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 1rem;

    text-align: justify;
    line-height: 2rem;
}

.context {
    color: var(--text-color);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 1rem;

    text-align: center;
}

/* Drop shadow */
.drop-shadow {
    -webkit-box-shadow: 0em 0em 2em 1em var(--shadow-color);
    box-shadow: 0em 0em 2em 1em var(--shadow-color);
}

/* Disable transition */
.transition-none {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

/* Selection */
::selection {
    color: var(--sel-text-color);
    background: var(--sel-bg-color);
}