/* -------------------------- LAYOUT -------------------------- */

* {
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
}

/* Color theme */
:root {
    --shadow-color: #1111118C;
    --color-cream: #fbf4e4;
    --color-black: #323232;
    --color-milky-deep-blue: #33333A;
}

:root,
    /* Default dark, therefore this should place first */
    html[data-user-theme='dark'] {
        --g1-color: #1D26714C;
        --g2-color: #C337634C;
        --bg-color: var(--color-milky-deep-blue);
        --text-color: var(--color-cream);
        --sel-text-color: var(--color-milky-deep-blue);
        --sel-bg-color: var(--color-cream);
        --navbar-color: var(--color-milky-deep-blue);
        --footer-color: var(--color-black);
        --thumb-color: #D8D5D0;
        --thumb-hover-color: #EAE7E1;
    }
    
    html[data-user-theme='light'] {
        --g1-color: #FBF4E47C;
        --g2-color: #BB909E7C;
        --bg-color: var(--color-cream);
        --text-color: var(--color-black);
        --sel-text-color: var(--color-cream);
        --sel-bg-color: var(--color-black);
        --navbar-color: var(--color-cream);
        --footer-color: var(--color-black);
        --thumb-color: #FFFFFF;
        --thumb-hover-color: #FFFFFF;
    }

body {
    overflow: overlay;
    background-color: var(--bg-color);
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: 
        auto
        1fr
        auto;
}

.primary-header {
    display: grid;
    overflow: hidden;
    place-items: center;
    place-content: center;
    grid-template-areas: "stack";
    background: var(--bg-color);
    background-size: cover;
}

.primary-header > * {
    grid-area: stack;
}

.menu {
    display: flex;
}

footer {
    display: grid;
    background-color: var(--footer-color);
}

/* -------------------------- STYLES -------------------------- */

/* Pre-loader */
.preloader {
    position: fixed;
    inset: 0;
    z-index: 10000;

    display: grid;
    place-items: center;
    background: #EAE7E1 url(../load.gif) no-repeat center center;
    background-size: 25%;

    transition: opacity 0.5s, visibility 1s;
    transition-timing-function: ease-in-out;
}

.fade {
    opacity: 0;
    visibility: hidden;
}

/* Navigation Bar */
.navbar-brand img {
    width: auto;
    height: 1.75rem;
}

.btn-toggle,
    .btn-toggle {
        color: var(--text-color);
        /* font-size: 1.5rem !important; */

        border: none !important;
        align-items: center;
    }
    .btn-toggle:hover, .btn-toggle:focus, .btn-toggle:active {
        color: var(--text-color) !important;

        text-decoration: none !important;
        border: none !important;
    }


/* Text */
.headings {
    z-index: 1;
    pointer-events: none;
}

.heading {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3.2rem;

    letter-spacing: 0.3rem;
    line-height: 1.2em;
}

.subheading {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;

    letter-spacing: 0.1rem;
}

.title {
    color: var(--text-color);
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-size: 2rem;

    text-align: center;
    line-height: 2em;
}

p {
    color: var(--text-color);
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    text-align: justify;
    line-height: 2rem;
}

.footer-item {
    color: var(--color-cream);
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    text-align: center;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }

/* Shadows */
.drop-shadow {
    -webkit-box-shadow: 0rem 0rem 4rem -1rem var(--shadow-color);
    box-shadow: 0rem 0rem 4rem -1rem var(--shadow-color);
}

.text-shadow {
    text-shadow: 0.1em 0.1em 0.3em var(--bg-color);
}

/* Disable transition */
.transition-none {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

/* Selection */
::selection {
    color: var(--sel-text-color);
    background: var(--sel-bg-color);
}