/* -------------------------- LAYOUT -------------------------- */

/* Color theme */
:root {
    --article-min-width: 300px;
    --article-max-width: 1200px;
    --layout-gap: 6rem;
    --section-gap: 3rem;
    --trans-duration: 0.15s;

    --color-cream: #FBFBEF;
    --color-grey: #9C9C9E;
    --color-black: #323232;
    --color-footer: #202123;
    --color-milky-deep-blue: #343541;
}

:root,
    /* Default dark, therefore this should place first */
    html[data-user-theme='dark'] {
        --g1-color: #1D26714C;
        --g2-color: #C337634C;
        --bg-color: var(--color-milky-deep-blue);
        --text-color: var(--color-cream);
        --sel-text-color: var(--color-milky-deep-blue);
        --sel-bg-color: var(--color-cream);
        --navbar-color: var(--color-milky-deep-blue);
        --footer-color: var(--color-footer);
        --shadow-color: #1111118C;
        --thumb-color: var(--color-grey);
        --thumb-hover-color: var(--color-cream);
    }
    
    html[data-user-theme='light'] {
        --g1-color: #FBF4E47C;
        --g2-color: #BB909E7C;
        --bg-color: var(--color-cream);
        --text-color: var(--color-black);
        --sel-text-color: var(--color-cream);
        --sel-bg-color: var(--color-black);
        --navbar-color: var(--color-cream);
        --footer-color: var(--color-footer);
        --shadow-color: var(--color-black);
        --thumb-color: var(--color-grey);
        --thumb-hover-color: var(--color-black);
    }

/* Main Structure */
body {
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;

    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: 
        auto
        1fr
        auto;
    row-gap: var(--layout-gap);
}

.main-header {
    display: grid;
    overflow: hidden;
    place-items: center;
    place-content: center;
    grid-template-areas: "stack";
    background: var(--bg-color);
    background-size: cover;
}
.main-header > * {
    grid-area: stack; 
}

.main-footer {
    height: 10rem;

    display: grid;
    background-color: var(--footer-color);
}

/* Element Structures */
.brand-img {
    --img-radius: 1rem;
    height: calc(var(--img-radius) * 2);
    width: auto;
}

.menu {
    display: flex;
}

.studio {
    z-index: 1;
    pointer-events: none;
}

.main-article {
    display: grid;
    row-gap: var(--section-gap);
}

.main-article section {
    min-width: var(--article-min-width);
    max-width: var(--article-max-width);
    margin: auto;

    display: grid;
    place-items: center;
    row-gap: var(--section-gap);
    column-gap: var(--section-gap);
}
.main-article section::after {
    content: '．．．';
    color: var(--text-color);

    display: grid;
    align-self: center;
}
@media screen and (min-width: 1200px) {
    .main-article section {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:"_h2 _p"
                            "_sec_after _sec_after";
        row-gap: none;
    }
    .main-article section h2 {
        grid-area: _h2;
    }
    .main-article section p {
        grid-area: _p;
    }
    .main-article section::after {
        grid-area: _sec_after;
    }
}

/* -------------------------- STYLES -------------------------- */

/* Pre-loader */
.preloader {
    position: fixed;
    inset: 0;
    z-index: 10000;

    display: grid;
    background: var(--color-cream) url(../load.gif) no-repeat center center;
    background-size: 256px;

    transition: opacity 0.5s, visibility 1s;
    transition-timing-function: ease-in-out;
}

.fade {
    opacity: 0;
    visibility: hidden;
}

/* Button with SVGs */
.btn-svg {
    display: flex;
    border: none !important;
    align-items: center;
    justify-self: end;
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
}
.btn-svg svg {
    fill: var(--text-color) !important;
    height: 1.5rem;
    width: auto;
}


/* Text */
.heading {
    font-family: 'Unbounded';
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: 0.1rem;
}

.subheading {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    text-decoration-line: underline;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--text-color);
    line-height: 2em;
}

.blockquote {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
}

p {
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}
br {
    content: "";
    display: block;
    margin-top: 1.2rem;
}

.footer-item {
    text-align: center;
    color: var(--color-cream);
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (max-width: 1200px) {
    .heading {
        font-size: 3rem;
    }
    .subheading {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 2.5rem;
    }
    .subheading {
        font-size: 1rem;
    }
    .title {
        font-size: 2rem;
    }
}

/* Hover-show-image */
.hover-img a {
    position: relative;

    color: var(--text-color) !important;
    text-decoration-line: underline;
    text-underline-offset: 0.4em;
}
.hover-img a span {
    display: none;
    position: absolute;
}
.hover-img a:hover span{
    display: block;
    overflow: hidden;
    bottom: 150%;
    left: 0;
}
.hover-img img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* -------------------------- SCROLL -------------------------- */

body::-webkit-scrollbar {
    width: 12px;
    background: transparent;
    overflow-y: hidden;
}

body::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background: var(--thumb-color);
    border-radius: 12px;
    background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    background:  var(--thumb-hover-color);
    border-radius: 12px;
    background-clip: content-box;
}

body::-webkit-scrollbar-corner {
    border-radius: 12px;
}

/* -------------------------- OTHERS -------------------------- */

/* Twemoji style */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

/* Shadows */
.drop-shadow {
    -webkit-box-shadow: 0rem 0rem 1rem -0.5rem var(--shadow-color);
    box-shadow: 0rem 0rem 1rem -0.5rem var(--shadow-color);
}

.text-shadow {
    text-shadow: 0.1em 0.1em 0.3em var(--bg-color);
}

.transition {
    transition: all ease-in-out var(--trans-duration);
}
/* Disable transition */
.transition-none {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

.unscrollable {
    overflow-y: hidden;
}

/* Selection */
::selection {
    color: var(--sel-text-color);
    background: var(--sel-bg-color);
}